body {
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .painel {
    font-size: 2rem;
    margin: 20px 0;
  }